<!-- quiz/templates/quiz/custom_quiz.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Custom Quiz</title>
</head>
<body>
    <form method="post" action="{% url 'submit_quiz' %}">
        {% csrf_token %}
        {% for question in questions %}
        <fieldset>
            <legend>{{ question.question_text }}</legend>
            {% for option in question.option_set.all %}
            <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                {{ option.option_text }}
            </label><br>
            {% endfor %}
        </fieldset>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>

{% extends "base.html" %}

{% block content %}
  <h1>Custom Quiz</h1>
  <form method="post">
    {% csrf_token %}
    {% for question in questions %}
      <h3>{{ question.question_text }}</h3>
      <ul>
        {% for choice in question.choice_set.all %}
          <li>
            <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
            {{ choice.choice_text }}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
